http://sharedrop.io -Share pc tp pc
https://www.photopea.com _photoshop
https://builtwith.com/ - Check website

http://www.htaccessredirect.net/ -Wordpress Htaccess

http://vasashreya.blogspot.in/ Wordpress All things

https://technicalseo.com/seo-tools/schema-markup-generator/ -Wordpress All Schema generate

-------------------


Page speed:
https://www.keycdn.com/blog/google-pagespeed-insights-wordpress/

https://varvy.com/pagespeed/

Pagespeed Check :
https://developers.google.com/speed/pagespeed/insights/
https://gtmetrix.com/
https://tools.pingdom.com/
-----
Redirect 404:
http://www.htaccessredirect.net/

http://www.rapidtables.com/web/tools/redirect-generator.htm

https://www.austinjbay.com/how-to-redirect-20-blank-space-htaccess-file/

https://simonecarletti.com/blog/2009/01/apache-rewriterule-and-query-string/
